body{
background-image: url(images/picture3.jpg);
background-size: cover;
}

li{
    
    list-style: none;
    padding: 0 20px 0;
    margin: 0 15px 0;
    display: inline-block;
    text-align: right;
    color: green;
    
}

ul, ol{
    float: right;
    margin: 20px;

}

a {
    color:coral;
}

img{
    display: inline-block;
    border: solid 2px #555;
    padding: 2px;
    margin: 3px 6pt 3px 5px;
    max-width: 300px;
    max-height: 300px;
}